<app-header></app-header>

<main class="min-h-screen bg-surface">
  <!-- Aquí se cargarán el Home, la Tienda, el Carrito, etc. -->
  <router-outlet></router-outlet>
</main>
<!-- Botón Flotante de WhatsApp -->
<a 
  href="https://wa.me/573026467557?text=Hola%20Krayola%20Store,%20estoy%20interesado%20en%20sus%20productos" 
  class="whatsapp-float d-flex align-items-center justify-content-center text-decoration-none shadow-lg"
  target="_blank"
  aria-label="Chat en WhatsApp">
  <i class="bi bi-whatsapp"></i>
</a>
<app-footer></app-footer>

<app-cart></app-cart>
